extends _html

block title
  | Wet de SHIP

block body
  #mount
    .page
      .header
        h1.title
          | {{ title }}
      .content
        .battlefield(v-on:mouseleave="cb(battlefield, 'mouseleave')")
          .fields.hud-pointer(v-on:mousewheel.prevent="cb(hud, 'mousewheel')")
            .field(v-for='field in battlefield.fields', v-bind:style='field.style()', v-on:mouseenter="cb(field, 'mouseenter')")
              span {{ field.point.x + 1 }} - {{ field.point.y + 1 }}
          .hud(v-if="hud.field")
            .hud--field(v-for="index in action.type.length", v-if="cb(hud, 'isHudField', index)", v-bind:style="cb(hud, 'style', index)")
      .bottom
        .actions
          .action.hud-pointer(v-for='action in actions', v-on:click="cb(action, 'click')", v-bind:class="cb(action, 'classes')")
            .action--line(v-for="title in action.title()")
              | {{ title }}
